<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/style.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <title>TP Argentina Programa</title>
</head>

<body>
    <section class="intro" id="inicio">
        <img src="../public/images/AP.png" alt="" class="AP">

        <div class="boton-modal">
            <label for="btn-modal">
                Login
            </label>
        </div>

        <input type="checkbox" id="btn-modal">
        <div class="container-modal">
            <div class="content-modal">
                <form>
                    <h3>Usuario, por favor</h3>
                    <div>
                        <label>
                            <a class="iconos"><i class='bx bxs-user'></i></a>
                            <input type="text" id="username" placeholder="username" required>
                        </label>
                    </div>
                    <div>
                        <label>
                            <a class="iconos"><i class='bx bxs-lock-alt'></i></a>
                            <input type="password" id="password" placeholder="password" required>
                        </label>
                    </div>
                    <button type="submit" class="button">Login</button>
                </form>
                <div class="btn-cerrar">
                    <label for="btn-modal">Cerrar</label>
                </div>
                <label for="btn-modal" class="cerrar-modal"></label>
            </div>
        </div>
    </section>
    <div class="redes">
        <a href="http://facebook.com" class="iconos"><i class='bx bxl-facebook-square'></i></a>
        <a href="http://twitter.com" class="iconos"><i class='bx bxl-twitter'></i></a>
        <a href="http://instragram.com" class="iconos"><i class='bx bxl-instagram'></i></a>
    </div>
    <header class="header">
        <img src="../public/images/bx-menu.svg" alt="" class="hamburger">
        <nav class="menu_navegacion">
            <a href="#inicio">inicio</a>
            <a href="#experiencia">experiencia</a>
            <a href="#educacion">educacion</a>
            <a href="#habilidades">habilidades</a>
            <a href="#proyectos">proyectos</a>
        </nav>

    </header>
    <main>
        <section class="contenedor_perfil">
            <div class="perfil" style="width: 50%;">
                <img src="../public/images/perrito malvado.jpg" alt="" class="perrito">
                <h2 class="letra">Luciano Carrizo</h2>
            </div>
            <div class="presentacion">
                <p class="letra_2">Hola, Me llamo Luciano, tengo con muchas ganas de aprender
                    sobre programación, ya que es algo que me llamo la atención
                    hace bastantes años y por fin di el paso para empezar a capacitarme</p>
            </div>
        </section>
        <section id="experiencia">
            <h2 class="titulo" style="color: yellowgreen;"><u>Experiencia</u></h2>
            <div class="contenedor_experiencia">
                <img src="../public/images/trabajando.jpg" alt="" class="confundido">
                <div class="exp1">
                    <p class="letra">La unica experiencia que tengo en programación, es la que he ido
                        obteniendo a traves de los diferentes modulos de este curso y ejercicios autodidácticos</p>
                </div>
                <img src="../public/images/coto.png" alt="" class="coto">
                <div class="exp2">
                    <p class="letra">4 años como armador de pedidos a domicilio en el sector digital, en COTO
                        C.I.C.S.A.</p>
                </div>
            </div>
        </section>
        <section id="educacion">
            <h2 class="titulo" style="color: rgb(228, 109, 13);"><u>Educación</u></h2>
            <div class="contenedor_educacion">
                <div class="texto">
                    <img src="../public/images/logo.jfif" alt="" class="logo">
                    <p class="letra">Argentina programa #seprogramar</p>
                    <p class="letra">Argentina programa #yoprogramo</p>
                </div>
                <div class="texto_2">
                    <img src="../public/images/Escuela.jfif" alt="" class="escuela">
                    <p class="letra"> Escula Normal Superior N°5: Gral Don Martin</p>
                    <p class="letra">Miguel de Gûemes (primaria y secundaria)</p>
                </div>
            </div>
        </section>
        <section id="habilidades">
            <h2 class="titulo" style="color: violet;"><u>Habilidades</u></h2>
            <div class="contenedor_habilidades">
                <div class="habilidades">
                    <p class="letra">Organización y gestión de tiempo</p>
                    <div class="barra">
                        <div class="progreso" style="--w:97%; background-color: aqua;">
                            <p>97%</p>
                        </div>
                    </div>
                </div>
                <div class="habilidades">
                    <p class="letra">Trabajo en equipo</p>
                    <div class="barra">
                        <div class="progreso" style="--w:80%; background-color: darkcyan">
                            <p>80%</p>
                        </div>
                    </div>
                </div>
                <div class="habilidades">
                    <p class="letra">Inteligencia emocional y Empatía</p>
                    <div class="barra">
                        <div class="progreso" style="--w:70%; background-color: azure;">
                            <p>70%</p>
                        </div>
                    </div>
                </div>
                <div class="habilidades">
                    <p class="letra">Idioma: Ingles</p>
                    <div class="barra">
                        <div class="progreso" style="--w:66%; background-color: blueviolet;">
                            <p>66%</p>
                        </div>
                    </div>
                </div>
                <div class="habilidades">
                    <p class="letra">Adaptabilidad y Resolución de problemas</p>
                    <div class="barra">
                        <div class="progreso" style="--w:85%; background-color: chartreuse;">
                            <p>85%</p>
                        </div>
                    </div>
                </div>
                <div class="habilidades">
                    <p class="letra">Liderazgo</p>
                    <div class="barra">
                        <div class="progreso" style="--w:30%; background-color: brown;">
                            <p>30%</p>
                        </div>
                    </div>
                </div>
                <div class="habilidades">
                    <p class="letra">Pensamiento Creativo y Comunicación</p>
                    <div class="barra">
                        <div class="progreso" style="--w:40%; background-color: lightskyblue;">
                            <p>40%</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="proyectos">
            <h2 class="titulo" style="color: rgb(60, 58, 196);"><u>Proyectos</u></h2>
            <div class="contenedor_proyectos">
                <p class="letra">portfolio web: Volcando todos los conocimientos adquiridos en este curso
                    y apoyandome en videos sobre guias de programación en youtube
                </p>
                <p class="letra"><a href="f:\Program Files (x86)\Curso\XyZ\index.html">Probando cosas</a>
                    utilizando bootstrap 29/08/22</p>
                <p class="letra"> <a href="file:///F:/Program%20Files%20(x86)/yy/Colegios/view/index.html">Pagina de
                        prueba</a>
                    Pequeño boceto de una pagina de escuela 05/12/22</p>
            </div>
        </section>
    </main>

    <footer>
        <ul class="letra">
            <li><a href="http://google.com">Fuentes</a></li>
            <li>@copyright</li>
            <li>Private Policy</li>

            <p><a class="iconos"><i class='bx bxs-home'></i></a> Calle Falsa, 123, ARG</p>
            <p><a class="iconos"><i class='bx bx-envelope'></i></a> info@example.com</p>
            <p><a class="iconos"><i class='bx bxs-phone'></i></i></a> + 011 555 5555</p>
        </ul>
    </footer>

    <script src="../public/js/menu.js"></script>
    <script src="../public/js/app.js"></script>

</body>

</html>